.promo-header{
  font-weight:bold;
  font-size:2rem;
}
.promo-container {
   max-width:100%;
   width:1400px;
   margin: 0 auto;
   padding:0 15px 0 15px;
  .voucher-5{
   height:289px;
  }
  .voucher-1{
    height:180px;
  }
  .voucher-img{
    width:100%;
    cursor:pointer;
  }
}